<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gewu.Medical.dao.DoctorMapper" >
  <resultMap id="BaseResultMap" type="com.gewu.Medical.model.Doctor" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="accounttype" property="accounttype" jdbcType="VARCHAR" />
    <result column="isRealname" property="isrealname" jdbcType="VARCHAR" />
    <result column="licenseNum" property="licensenum" jdbcType="VARCHAR" />
    <result column="telphone" property="telphone" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="role" property="role" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="hospital" property="hospital" jdbcType="VARCHAR" />
    <result column="department" property="department" jdbcType="VARCHAR" />
    <result column="brief" property="brief" jdbcType="VARCHAR" />
    <result column="info" property="info" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="DECIMAL" />
    <result column="fansNum" property="fansnum" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="INTEGER" />
    <result column="advantage" property="advantage" jdbcType="VARCHAR" />
    <result column="background" property="background" jdbcType="VARCHAR" />
    <result column="achievement" property="achievement" jdbcType="VARCHAR" />
    <result column="avatar" property="avatar" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="englishName" property="englishname" jdbcType="VARCHAR" />
    <result column="workingExp" property="workingexp" jdbcType="VARCHAR" />
    <result column="hasPersonalClinic" property="haspersonalclinic" jdbcType="VARCHAR" />
    <result column="personalClinicInfo" property="personalclinicinfo" jdbcType="VARCHAR" />
    <result column="isDel" property="isdel" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, username, password, accounttype, isRealname, licenseNum, telphone, status, role, 
    email, hospital, department, brief, info, score, fansNum, price, advantage, background, 
    achievement, avatar, createTime, updateTime, englishName, workingExp, hasPersonalClinic, 
    personalClinicInfo, isDel
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gewu.Medical.model.DoctorExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from doctor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
       limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from doctor
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from doctor
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gewu.Medical.model.DoctorExample" >
    delete from doctor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gewu.Medical.model.Doctor" >
    insert into doctor (id, username, password, 
      accounttype, isRealname, licenseNum, 
      telphone, status, role, 
      email, hospital, department, 
      brief, info, score, 
      fansNum, price, advantage, 
      background, achievement, avatar, 
      createTime, updateTime, englishName, 
      workingExp, hasPersonalClinic, personalClinicInfo, 
      isDel)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{accounttype,jdbcType=VARCHAR}, #{isrealname,jdbcType=VARCHAR}, #{licensenum,jdbcType=VARCHAR}, 
      #{telphone,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{role,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{hospital,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR}, 
      #{brief,jdbcType=VARCHAR}, #{info,jdbcType=VARCHAR}, #{score,jdbcType=DECIMAL}, 
      #{fansnum,jdbcType=INTEGER}, #{price,jdbcType=INTEGER}, #{advantage,jdbcType=VARCHAR}, 
      #{background,jdbcType=VARCHAR}, #{achievement,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, #{englishname,jdbcType=VARCHAR}, 
      #{workingexp,jdbcType=VARCHAR}, #{haspersonalclinic,jdbcType=VARCHAR}, #{personalclinicinfo,jdbcType=VARCHAR}, 
      #{isdel,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.gewu.Medical.model.Doctor" >
    insert into doctor
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="accounttype != null" >
        accounttype,
      </if>
      <if test="isrealname != null" >
        isRealname,
      </if>
      <if test="licensenum != null" >
        licenseNum,
      </if>
      <if test="telphone != null" >
        telphone,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="role != null" >
        role,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="hospital != null" >
        hospital,
      </if>
      <if test="department != null" >
        department,
      </if>
      <if test="brief != null" >
        brief,
      </if>
      <if test="info != null" >
        info,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="fansnum != null" >
        fansNum,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="advantage != null" >
        advantage,
      </if>
      <if test="background != null" >
        background,
      </if>
      <if test="achievement != null" >
        achievement,
      </if>
      <if test="avatar != null" >
        avatar,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
      <if test="englishname != null" >
        englishName,
      </if>
      <if test="workingexp != null" >
        workingExp,
      </if>
      <if test="haspersonalclinic != null" >
        hasPersonalClinic,
      </if>
      <if test="personalclinicinfo != null" >
        personalClinicInfo,
      </if>
      <if test="isdel != null" >
        isDel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="accounttype != null" >
        #{accounttype,jdbcType=VARCHAR},
      </if>
      <if test="isrealname != null" >
        #{isrealname,jdbcType=VARCHAR},
      </if>
      <if test="licensenum != null" >
        #{licensenum,jdbcType=VARCHAR},
      </if>
      <if test="telphone != null" >
        #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        #{role,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="hospital != null" >
        #{hospital,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="brief != null" >
        #{brief,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=DECIMAL},
      </if>
      <if test="fansnum != null" >
        #{fansnum,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=INTEGER},
      </if>
      <if test="advantage != null" >
        #{advantage,jdbcType=VARCHAR},
      </if>
      <if test="background != null" >
        #{background,jdbcType=VARCHAR},
      </if>
      <if test="achievement != null" >
        #{achievement,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="englishname != null" >
        #{englishname,jdbcType=VARCHAR},
      </if>
      <if test="workingexp != null" >
        #{workingexp,jdbcType=VARCHAR},
      </if>
      <if test="haspersonalclinic != null" >
        #{haspersonalclinic,jdbcType=VARCHAR},
      </if>
      <if test="personalclinicinfo != null" >
        #{personalclinicinfo,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null" >
        #{isdel,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gewu.Medical.model.DoctorExample" resultType="java.lang.Integer" >
    select count(*) from doctor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update doctor
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.username != null" >
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.accounttype != null" >
        accounttype = #{record.accounttype,jdbcType=VARCHAR},
      </if>
      <if test="record.isrealname != null" >
        isRealname = #{record.isrealname,jdbcType=VARCHAR},
      </if>
      <if test="record.licensenum != null" >
        licenseNum = #{record.licensenum,jdbcType=VARCHAR},
      </if>
      <if test="record.telphone != null" >
        telphone = #{record.telphone,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.role != null" >
        role = #{record.role,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.hospital != null" >
        hospital = #{record.hospital,jdbcType=VARCHAR},
      </if>
      <if test="record.department != null" >
        department = #{record.department,jdbcType=VARCHAR},
      </if>
      <if test="record.brief != null" >
        brief = #{record.brief,jdbcType=VARCHAR},
      </if>
      <if test="record.info != null" >
        info = #{record.info,jdbcType=VARCHAR},
      </if>
      <if test="record.score != null" >
        score = #{record.score,jdbcType=DECIMAL},
      </if>
      <if test="record.fansnum != null" >
        fansNum = #{record.fansnum,jdbcType=INTEGER},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=INTEGER},
      </if>
      <if test="record.advantage != null" >
        advantage = #{record.advantage,jdbcType=VARCHAR},
      </if>
      <if test="record.background != null" >
        background = #{record.background,jdbcType=VARCHAR},
      </if>
      <if test="record.achievement != null" >
        achievement = #{record.achievement,jdbcType=VARCHAR},
      </if>
      <if test="record.avatar != null" >
        avatar = #{record.avatar,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatetime != null" >
        updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.englishname != null" >
        englishName = #{record.englishname,jdbcType=VARCHAR},
      </if>
      <if test="record.workingexp != null" >
        workingExp = #{record.workingexp,jdbcType=VARCHAR},
      </if>
      <if test="record.haspersonalclinic != null" >
        hasPersonalClinic = #{record.haspersonalclinic,jdbcType=VARCHAR},
      </if>
      <if test="record.personalclinicinfo != null" >
        personalClinicInfo = #{record.personalclinicinfo,jdbcType=VARCHAR},
      </if>
      <if test="record.isdel != null" >
        isDel = #{record.isdel,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update doctor
    set id = #{record.id,jdbcType=INTEGER},
      username = #{record.username,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      accounttype = #{record.accounttype,jdbcType=VARCHAR},
      isRealname = #{record.isrealname,jdbcType=VARCHAR},
      licenseNum = #{record.licensenum,jdbcType=VARCHAR},
      telphone = #{record.telphone,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      role = #{record.role,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      hospital = #{record.hospital,jdbcType=VARCHAR},
      department = #{record.department,jdbcType=VARCHAR},
      brief = #{record.brief,jdbcType=VARCHAR},
      info = #{record.info,jdbcType=VARCHAR},
      score = #{record.score,jdbcType=DECIMAL},
      fansNum = #{record.fansnum,jdbcType=INTEGER},
      price = #{record.price,jdbcType=INTEGER},
      advantage = #{record.advantage,jdbcType=VARCHAR},
      background = #{record.background,jdbcType=VARCHAR},
      achievement = #{record.achievement,jdbcType=VARCHAR},
      avatar = #{record.avatar,jdbcType=VARCHAR},
      createTime = #{record.createtime,jdbcType=TIMESTAMP},
      updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      englishName = #{record.englishname,jdbcType=VARCHAR},
      workingExp = #{record.workingexp,jdbcType=VARCHAR},
      hasPersonalClinic = #{record.haspersonalclinic,jdbcType=VARCHAR},
      personalClinicInfo = #{record.personalclinicinfo,jdbcType=VARCHAR},
      isDel = #{record.isdel,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gewu.Medical.model.Doctor" >
    update doctor
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="accounttype != null" >
        accounttype = #{accounttype,jdbcType=VARCHAR},
      </if>
      <if test="isrealname != null" >
        isRealname = #{isrealname,jdbcType=VARCHAR},
      </if>
      <if test="licensenum != null" >
        licenseNum = #{licensenum,jdbcType=VARCHAR},
      </if>
      <if test="telphone != null" >
        telphone = #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        role = #{role,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="hospital != null" >
        hospital = #{hospital,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="brief != null" >
        brief = #{brief,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=DECIMAL},
      </if>
      <if test="fansnum != null" >
        fansNum = #{fansnum,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="advantage != null" >
        advantage = #{advantage,jdbcType=VARCHAR},
      </if>
      <if test="background != null" >
        background = #{background,jdbcType=VARCHAR},
      </if>
      <if test="achievement != null" >
        achievement = #{achievement,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="englishname != null" >
        englishName = #{englishname,jdbcType=VARCHAR},
      </if>
      <if test="workingexp != null" >
        workingExp = #{workingexp,jdbcType=VARCHAR},
      </if>
      <if test="haspersonalclinic != null" >
        hasPersonalClinic = #{haspersonalclinic,jdbcType=VARCHAR},
      </if>
      <if test="personalclinicinfo != null" >
        personalClinicInfo = #{personalclinicinfo,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null" >
        isDel = #{isdel,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gewu.Medical.model.Doctor" >
    update doctor
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      accounttype = #{accounttype,jdbcType=VARCHAR},
      isRealname = #{isrealname,jdbcType=VARCHAR},
      licenseNum = #{licensenum,jdbcType=VARCHAR},
      telphone = #{telphone,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      role = #{role,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      hospital = #{hospital,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      brief = #{brief,jdbcType=VARCHAR},
      info = #{info,jdbcType=VARCHAR},
      score = #{score,jdbcType=DECIMAL},
      fansNum = #{fansnum,jdbcType=INTEGER},
      price = #{price,jdbcType=INTEGER},
      advantage = #{advantage,jdbcType=VARCHAR},
      background = #{background,jdbcType=VARCHAR},
      achievement = #{achievement,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      englishName = #{englishname,jdbcType=VARCHAR},
      workingExp = #{workingexp,jdbcType=VARCHAR},
      hasPersonalClinic = #{haspersonalclinic,jdbcType=VARCHAR},
      personalClinicInfo = #{personalclinicinfo,jdbcType=VARCHAR},
      isDel = #{isdel,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>